<p id="notice"><%= notice %></p>

<h1>Listing Todos</h1>

<% Time.now %>

<table>
  <thead>
    <tr>
      <th>Due</th>
      <th>Task</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.due %></td>
        <td><%= todo.task %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @todos %>
<br>

<%= link_to 'New Todo', new_todo_path %>
